[submodule "fuzzer/AFLplusplus"]
	path = fuzzer/AFLplusplus
	url = git@github.com:iwannatto/AFLplusplus.git
[submodule "fuzzer/qemu"]
	path = fuzzer/qemu
	url = git@github.com:iwannatto/qemu.git
[submodule "fuzzer/VMXbench"]
	path = fuzzer/VMXbench
	url = git@github.com:iwannatto/VMXbench.git
[submodule "linux-kcov/linux-kcov-src"]
	path = linux-kcov/linux-kcov-src
	url = git@github.com:iwannatto/linux-kcov-src.git
