# executables
/qemu_wrapper
/standalone_qemu_wrapper

# log files
/debugf_qemu_wrapper.txt
/debugf_qemu.txt

# for standalone qemu_wrapper
/standalone_coverage/
/input_for_standalone_qemu_wrapper.bin
/standalone_coverage.bin

# for fuzzing
/inp/
/out/
/results/
/afl_pid.txt
/fuzzing_bitmap.bin
/nohup.out