# executables
/fuzznetlink
/standalone_fuzznetlink

# log files
/debugf_fuzznetlink.txt
/debugf_qemu.txt

# for standalone fuzznetlink
/standalone_coverage/
/input_for_standalone_fuzznetlink.bin
/standalone_coverage.bin

# for fuzzing
/inp/
/out/
/results/
/afl_pid.txt
/nohup.out